auto-save-list/
undo-fu-session/
var/
eln-cache/
elpaca/
history
elpa/
backups/
ltximg/
org-roam.db
transient/
.lsp-session-v1
.org-id-locations
tramp
bookmarks
\#!*
tree-sitter/
projectile-bookmarks.eld
nov-places
